<section class="adv">
    <div class="container">
      <div class="adv__row row justify-content-between">
        <div class="adv__desc col-xl-5 col-lg-6 ">
          <div class="adv__title">
            Ihre Vorteile als Kunde
          </div>
          <div class="adv__text">
            <p>Wir beliefern unsere Kunden zuverlässig in ganz Europa.
              Unsere Experten beraten Sie mit neuestem Fachwissen und
              umfassenden Informationen zu den einzelnen Produktenund
              Herstellern. </p>
            <p>Von großen, namhaften Herstellern bis zum kleineren
              Insider-Tipp arbeiten wir mit verschiedensten Partnern
              zusammen, um Ihre und die Bedürfnisse Ihrer Kunden optimal zu
              decken. Lassen Sie sich von unserer großen Auswahl und
              kundenorientierten Arbeit überzeugen.</p>
          </div>
        </div>
        <div class="adv__img col-lg-6">
          <img src="img/img-adv.jpg" alt="">
          <div class="adv__img-text">
            <span>Über 1.000 KNX-Artikel ab Lager </span>
          </div>
        </div>
      </div>
    </div>
  </section>