<section class="banner">
    <div class="container">
      <div class="banner__row row justify-content-center">
        <div class="banner__title">
          Jetzt Neukunde werden
        </div>
        <div class="banner__subtitle">
          Registrieren Sie sich jetzt kostenlos und unverbindlich als Neukunde und profitieren Sie von allen Vorteilen!
        </div>
        <div class="banner__button">
          <button class="btn-reset">Jetzt registrieren</button>
        </div>
      </div>
    </div>
  </section>