<section class="customer">
    <div class="container">
      <div class="customer__row row">
        <div class="customer__title"><span>Neukunde werden: So einfach geht’s</span></div>
        <div class="customer__items justify-content-center">
          <div class="customer__item  col-lg-3 col-md-4 col-12">
            <div class="customer__number customer__number--1">
              1
            </div>
            <div class="customer__text">
              <p>
                Füllen Sie das Formular aus und senden Sie es ab – Ihre Daten behandeln wir selbstverständlich streng vertraulich.
              </p>
            </div>
          </div>
          <div class="customer__item col-lg-3 col-md-4 col-12">
            <div class="customer__number customer__number--2">
              2
            </div>
            <div class="customer__text">
              <p>
                Sie erhalten von uns schnellstmöglich alle weiteren Informationen zu Ihrem Zugang per E-Mail.
              </p>
            </div>
          </div>
          <div class="customer__item col-lg-3 col-md-4 col-12">
            <div class="customer__number customer__number--3">
              3
            </div>
            <div class="customer__text">
              <p>
                Nachdem Sie Ihre Daten bestätigt haben, können Sie auf unseren Onlineshop und alle Vorteile zugreifen.
              </p>
            </div>
          </div>
          <div class="customer__item col-lg-2 col-md-2 col-2 offset-lg-1 customer__item--last row align-items-center justify-content-center">
            <div class="customer__img col-auto">
              <img src="img/icon-4.svg" alt="">
            </div>
            <div class="customer__text col-auto">
              Die Registrierung als Neukunde ist für Sie unverbindlich und kostenlos!
            </div>
          </div>
        </div>
      </div>
      <div class="customer__row customer__row--last row">
        <div class="customer__form-desc col-lg-5 col-md-5 col-auto">
          Sie erhalten Ihre Kundennummer sowie Onlineshop-Zugangsdaten nach der Prüfung und Freigabe per E-Mail mitgeteilt.
        </div>
        <div class="customer__form-req col-10">
          Pflichtfelder
        </div>
        <form class="customer__form g-3 align-items-center justify-content-center col-lg-6 col-md-9 col-auto">
          <div class="col-sm-6 col-10 customer__control customer__req">
            <input type="text" class="form-control" placeholder="Firmenname" aria-label="Username">
          </div>
          <div class="col-sm-6 col-10 customer__control customer__req">
            <select class="form-select" aria-label="Select">
              <option selected>Anrede</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-sm-6 col-10 customer__control customer__req">
            <input type="text" class="form-control" placeholder="Vorname" aria-label="Username">
          </div>
          <div class="col-sm-6 col-10 customer__control ">
            <input type="text" class="form-control" placeholder="Name" aria-label="Name">
          </div>
          <button type="submit" class="customer__btn btn btn-primary">Absenden</button>
        </form>
      </div>
    </div>
  </section>