html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  background-color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}
.site-container {
  overflow: hidden;
  background: rgb(202, 218, 221);
  background: -moz-linear-gradient(
    180deg,
    rgba(202, 218, 221, 1) 0%,
    rgba(202, 218, 221, 1) 20%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(202, 218, 221, 1) 0%,
    rgba(202, 218, 221, 1) 20%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(202, 218, 221, 1) 0%,
    rgba(202, 218, 221, 1) 20%,
    rgba(255, 255, 255, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cadadd",endColorstr="#ffffff",GradientType=1);
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
